.mainsection {
    height: 100%;
    font-family: 'Abhaya Libre', serif;
}

.title {
    margin: 0;
    color: rgb(82, 82, 82);
    margin-right: auto;
}

.pagehead {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    padding-bottom: 3vh;
    
}


.newrecipe, .glownewrecipe {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    border-radius: 2rem;
    border: 1px solid orange;
    padding: 0.5rem 1rem;
    box-shadow: 0px 0px 3px orange;
    color: black;

}

@keyframes glowing {
    0%{
        box-shadow: 0 0 5px orange;
    }

    50%{
        box-shadow: 0 0 20px rgb(255, 207, 119);
    }

    100%{
        box-shadow: 0 0 5px orange;
    }
}

.glownewrecipe{
    animation: glowing 2000ms infinite;
}


.newrecipe:visited, .glownewrecipe:visited {
    color: black;
}


.newrecipe:hover, .glownewrecipe:hover {
    color: rgb(255, 216, 144);
    background-color: black;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px gray;
    padding: 3rem;
    margin-top: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;


}

.noshow {
    display: none
}
