.logingreeting {
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
}

.loginpage {
    height: 100vh;
    font-family: 'Abhaya Libre', cursive;
    display: flex;
    position: relative;
}

.loginsection {
    width: 45vw;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5rem;
    box-sizing: border-box;


}

.label {
    font-size: 1rem;
    display: block;
    color: #6D6D6D;
}

.input, .inputpassword {
    border: none;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    box-sizing: border-box;
    align-self: center;
    width: 100%;

}

.inputpassword {
    margin-bottom: 3rem;
}

.inputpassword:focus, .input:focus {
    border-bottom: 1px solid #646464;
}

.loginbutton {
    border: 1px solid transparent;
    background-color: #D88666;
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 3rem;
    align-self: center;
    margin-bottom: 3rem;
    transition: 0.3s border ease-in-out, 0.3s background-color ease-in-out;  

}

.loginbutton:disabled{
    background-color: #b2b4a8;
    cursor: default;
}

.loginbutton:hover:enabled {
    background-color: white;
    color: #D88666;
    border: 1px solid #D88666;
    cursor: pointer;
 }

 .inputsection {
    width: 60%;
}


 .loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
 }


 .bgcircle{
    height: 40rem;
    width: 40rem;
    background-color: #E5EAD3;
    border-radius: 50%;
    position: absolute;
    bottom: 6rem;
    right: 40rem;
    z-index: -1;
}

.alternate{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.alternate > p {
    margin-right: 1ch;
    color: #6D6D6D;
}

.signuplink {
    text-decoration: none;
    color: #D36135;
}

.signuplink:hover {
    color: #662a12
}

.erroricon{
    margin-right: 1ch;
}

.noshow {
    display: none;
}

.error {
    width: 60%;
    box-sizing: border-box;
    background-color: rgb(255, 121, 121);
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    border-radius: 2rem;

}