.topbar{
    display: flex;
    align-items: center;
    padding: 0rem 3vw;
    justify-content: space-between;
    height: 5rem;
    top: 0%;
    z-index: 1;
}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    list-style: none;
    height: 100%;



}

.hasdrop{
    display: flex;
    justify-content: center;
    height: 100%;
}


.links{
    text-decoration: none;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: 0.3s border ease-in-out;
}



.links:visited{
    color: black;
}

.links:hover{
    border-bottom: 2px solid orange;
}



.profile, .profilehov{
    height: 2rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    transition: 0.3s border ease-in-out;
}

.profilehov{
    border: 2px solid #ABB77D;
}



.profile:hover{
    border: 2px solid #ABB77D;
}

.profilelink{
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropdown{
    padding: 0;
    width: 10vw;
    position: absolute;
    box-shadow: 0px 0px 5px lightgrey;
    left: 87vw;
    top: 12vh;
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    z-index: 99;
}


.subnav {
    text-decoration: none;
    color: black;
    font-family: 'Abhaya Libre', serif;
    font-weight: 200;
    padding: 0.75rem;
    text-align: start;
    display: block;
    border-radius: 2rem;


}
.subnav:visited{
    color: black;
}

.subnav:hover {
    color: white;
    background-color: #ABB77D;
}





.searchbar {
    width: 40vw;
    border-radius: 2rem;
    border: 0.5px solid #d3d3d3;
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2rem;
    font-size: 1rem;
    box-shadow: 0px 0px 4px #cfcfcf;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 0.75rem 0.5rem;
    transition: width 0.3s ease-in-out
}

.searchbar:focus{
    outline: none;
    border: 0.5px solid #a7a7a7;
    width: 45vw;

}

.rule{
    border: 0.3px solid #ebebeb;
}

.dropdown > li, .navlinks > li {
    list-style: none;
}